@model CategoryViewModel

<h1>Danh sách danh mục</h1>
<button id="CategoryModalClick" class="btn btn-primary">Tạo danh mục</button>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Id</th>
            <th>Tên</th>
            <th>Danh mục cha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         
        @if (Model.Categories != null)
        {
            int counter = 1;
            @foreach(var item in Model.Categories)
            {
                <tr>
                    <td>
                        @counter
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.ParentCategory.Id == 0)
                        {
                            <span>None</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ParentCategory.Id)
                            @Html.Raw(" - ")
                            @Html.DisplayFor(modelItem => item.ParentCategory.Name)
                        }
                    </td>
                    <td>
                        <button onclick="Details(@item.Id)" class="btn btn-success">Chi tiết</button>
                        <button onclick="Edit(@item.Id)" class="btn btn-primary">Sửa</button>
                        <button onclick="Delete(@item.Id)" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>

@*CREATE*@

<div class="madal fade modal" id="CategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Tạo danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" asp-controller="Categories" method="post" data-ajax="true">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <label asp-for="Name"></label>
                    <div>
                        <input asp-for="Name" />
                    </div>
                    <label asp-for="ParentCategoryId"></label>
                    <div class="mt-2">
                        <select asp-for="ParentCategoryId" asp-items="@Model.ParentCategoryList" class="parentCategorySelect" data-val="false">
                            
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Tạo"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*UPDATE*@

<div class="madal fade modal" id="UpdateCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Cập nhật danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Update" asp-controller="Categories" method="post" data-ajax="true" data-ajax-success="onCreateSuccess">
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" class="categoryId"/>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <label asp-for="Name"></label>
                    <div>
                        <input class="nameCategory" asp-for="Name" />
                    </div>
                    <label asp-for="ParentCategoryId"></label>
                    <div class="mt-2">
                        <select asp-for="ParentCategoryId" asp-items="@Model.ParentCategoryList" class="parentCategorySelect" data-val="false">
                            
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Cập nhật"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*DETAIL*@

<div class="modal fade" id="DetailsCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Product Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <div id="categoryDetail">

                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*DELETE*@

<div class="madal fade modal" id="DeleteCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Delete Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Delete" asp-controller="Categories" method="post" data-ajax="true" data-ajax-success="onCreateSuccess">
                <div class="modal-body">
                    <h4>Are you sure do delete category "<span class="nameCategory"></span>" ?</h4>
                    <input class="categoryId" asp-for="Id" type="hidden"/>
                    <input class="nameCategory" asp-for="Name" type="hidden"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <div>
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#CategoryModalClick").click(function () {
            
            $.ajax({
                url: 'Categories/Create',
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#CategoryModal").modal('show');
                    var obj = '';
                    obj += `<option disabled selected>--Chọn danh mục--</option>`;
                    $.each(data.parentCategoryList, function (index, item) {
                        obj += `<option value="${item.value}">` + item.text + `</option>`;
                    });
                    $(".parentCategorySelect").html(obj);
                    console.log(data);
                },
                error: function () {
                    
                }
            })
        })

        function Edit(id) {
            $.ajax({
                url: 'Categories/Update?id=' + id,
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#UpdateCategoryModal").modal('show');
                    $(".categoryId").val(data.id);
                    $(".nameCategory").val(data.name)
                    if (data.parentCategoryId == 0) {
                        var obj = '';
                        obj += `<option disabled selected>--Chọn danh mục--</option>`;
                        $.each(data.parentCategoryList, function (index, item) {
                            obj += `<option value="${item.value}">` + item.text + `</option>`;
                        });
                        $(".parentCategorySelect").html(obj);

                    } 
                    else {
                        var option = '';
                        option += `<option>--Chọn danh mục--</option>`;
                        $.each(data.parentCategoryList, function (index, item) {   
                            if (item.value != data.parentCategoryId) {
                                option += `<option value="${item.value}">` + item.text + `</option>`;
                            } else {
                                option += `<option selected value="${item.value}">` + item.text + `</option>`;
                            }
                        });
                         $(".parentCategorySelect").html(option);
                    } 
                    console.log(data);
                },
                error: function () {
                    
                }
            })
        }

        function Details(id) {
            $.ajax({
                url: 'Categories/Details?id=' + id,
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#DetailsCategoryModal").modal('show');
                    var obj = '';
                    obj += `<dt class = "col-sm-2">
                                Tên
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.name}
                            </dd>
                            <dt class = "">
                                Danh mục cha
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.parentCategoryId}
                            </dd>
                        </dl>
                    `
                    $("#categoryDetail").html(obj);  
                    console.log(data);
                },
                error: function () {
                    
                }
            })
        }

        function Delete(id) {
            $.ajax({
                url: 'Categories/Delete?id=' + id,
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#DeleteCategoryModal").modal('show');
                    $(".nameCategory").html(data.name);
                    $(".categoryId").val(data.id);
                    $(".nameCategory").val(data.name)
                    console.log(data);
                },
                error: function () {
                    
                }
            })
        }
    </script>
}