@model OrderViewModel
@{
    Layout = "_CartLayout";
}

<div class="container-fluid"> 
    @if (Model.TotalAmount != 0)
    {
        <div class="container">
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Tên</td>
                        <td>Giá</td>
                        <td>Số lượng</td>
                        <td>Tổng</td>
                        <td>Xóa</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var product in Model.OrderItems)
                    {
                        <tr>
                            <td>
                                <div class="text-sm-center">
                                    @if (product.ProductOptionId != 0)
                                    {
                                        <img src="~/images/@product.ProductOption.Image" width="35" height="35"/>
                                    } else
                                    {
                                        <img src="~/images/@product.Product.Image" width="35" height="35"/>
                                    }
                                </div>
                            </td>
                            <td class="text-muted">
                               
                               <a asp-action="ProductDetailsPage" 
                                    asp-controller="Products" 
                                    asp-route-productId="@product.Product.Id" 
                                    class="text-muted text-decoration-none" 
                                    title="@Html.DisplayFor(modelItem => product.Product.Name)">
                                        @Html.DisplayFor(modelItem => product.Product.Name)
                               </a>
                                @if (product.ProductOptionId != 0)
                                {
                                    <br />
                                    <span class="text-warning border border-warning border-3">
                                        @Html.DisplayFor(modelItem => product.ProductOption.Value)
                                    </span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Price)    
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Quantity)
                            </td>
                            <td>
                                @{
                                    decimal totalPrice;
                                    totalPrice = product.Price * product.Quantity;
                                }
                                @totalPrice
                            </td>
                            <td>
                                <a asp-action="Delete" 
                                    asp-controller="OrderItem" 
                                    asp-route-orderItemId="@product.Id" 
                                    asp-route-order="@Model.Id"
                                    class="btn btn-danger"><i class="bi bi-x-circle"></i>
                                </a>
                                
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-sm-right">
                            <div></div>Total Price:
                        </td>
                        <td>@Model.TotalAmount</td>
                        <td><a class="btn btn-primary" href="/Cart/Checkout">Thanh toán</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
    } else
    {
        <div class="col-lg-12">
			<h1 class="title_head left after">
				<span class="padding__">Giỏ hàng của bạn</span>
			</h1>
			<div class="header-cart title_cart_pc hidden-sm hidden-xs"><p class="hidden-xs-down">Không có sản phẩm nào.</p></div>
		</div>
    }
</div>