@model ProductViewModel

<h1>Danh sách sản phẩm</h1>
<button id="ProductModalClick" class="btn btn-primary">Tạo sản phẩm</button>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Id</th>
            <th>Tên</th>
            <th>Danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         
        @if (Model.Products != null)
        {
            int counter = 1;
            @foreach(var item in Model.Products)
            {
                <tr>
                    <td>
                        @counter
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if(item.CategoryId == 0)
                        {
                            <span>None</span>
                        } 
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Category.Id)
                            @Html.Raw(" - ")
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        }
                    </td>
                    <td>
                        <button onclick="Details('@item.Id')" class="btn btn-success">Chi tiết</button>
                        <button onclick="Edit(@item.Id)" class="btn btn-primary">Sửa</button>
                        
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>

@*CREATE*@

<div class="madal fade modal" id="ProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Tạo sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" asp-action="Create" asp-controller="Products" method="post" data-ajax="true" data-ajax-success="onCreateSuccess">
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <label asp-for="Name"></label>
                    <div>
                        <input asp-for="Name" />
                    </div>
                    <label asp-for="ProfileImage"></label>
                    <div>
                        <input asp-for="ProfileImage" accept="image/*"/>
                    </div>
                    <label asp-for="Price"></label>
                    <div>
                        <input asp-for="Price" />
                    </div>
                    <label asp-for="StockQuantity"></label>
                    <div>
                        <input asp-for="StockQuantity" />
                    </div>
                    <label asp-for="Description"></label>
                    <div>
                        <textarea asp-for="Description"></textarea>
                    </div>
                    <div>
                        <label asp-for="Availability"></label>
                        <input asp-for="Availability" />
                    </div>
                    <div class="mt-2">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="categorySelect" data-val="false">
                            
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Tạo"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*UPDATE*@

<div class="madal fade modal" id="UpdateProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Cập nhật sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" asp-action="Update" asp-controller="Products" method="post" data-ajax="true" data-ajax-success="onCreateSuccess">
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" class="productId"/>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <label asp-for="Name"></label>
                    <div>
                        <input class="nameProduct" asp-for="Name" />
                    </div>
                    <label class="nameProduct" asp-for="ProfileImage"></label>
                    <div>
                        <input type="file" name="ProfileImage" accept="image/*" />
                    </div>
                    <label asp-for="Price"></label>
                    <div>
                        <input class="priceProduct" asp-for="Price" />
                    </div>
                    <label asp-for="StockQuantity"></label>
                    <div>
                        <input class="stockQuantityProduct" asp-for="StockQuantity" />
                    </div>
                    <label asp-for="Description"></label>
                    <div>
                        <textarea class="descriptionProduct" asp-for="Description"></textarea>
                    </div>
                    <div>
                        <label asp-for="Availability"></label>
                        <input type="checkbox" class="availabilityProduct" asp-for="Availability" />
                    </div>
                    <div class="mt-2">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="categorySelect" data-val="false">
                            
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Cập nhật"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*DETAIL*@

<div class="modal fade" id="DetailsProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Product Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <div id="productDetail">

                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#ProductModalClick").click(function () {
            
            $.ajax({
                url: 'Products/Create',
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#ProductModal").modal('show');
                    var obj = '';
                    obj += `<option disabled selected>--Chọn danh mục--</option>`;
                    $.each(data.categoryList, function (index, item) {
                        obj += `<option value="${item.value}">` + item.text + `</option>`;
                    });
                    $(".categorySelect").html(obj);
                    console.log(data);
                },
                error: function () {
                    
                }
            })
        })

        function Edit(id) {
            $.ajax({
                url: 'Products/Update?id=' + id,
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#UpdateProductModal").modal('show');
                    $(".productId").val(data.id);
                    $(".nameProduct").val(data.name);
                    $(".descriptionProduct").val(data.description);
                    $(".availabilityProduct").prop("checked", data.availability);
                    $(".priceProduct").val(data.price);
                    $(".stockQuantityProduct").val(data.stockQuantity);

                    if (data.categoryId == 0) {
                        var obj = '';
                        obj += `<option disabled selected>--Chọn danh mục--</option>`;
                        $.each(data.categoryList, function (index, item) {
                            obj += `<option value="${item.value}">` + item.text + `</option>`;
                        });
                        $(".categorySelect").html(obj);

                    } else {
                        var option = '';
                        option += `<option>--Chọn danh mục--</option>`;
                        $.each(data.categoryList, function (index, item) {
                            
                            if (item.value != data.categoryId) {
                                option += `<option value="${item.value}">` + item.text + `</option>`;
                            } else {
                                option += `<option selected value="${item.value}">` + item.text + `</option>`;
                            }
                        });
                         $(".categorySelect").html(option);
                    }

                    console.log(data);
                },
                error: function () {
                    
                }
            })
        }

        function Details(id) {
            $.ajax({
                url: 'Products/Details?id=' + id,
                type: 'GET',
                contentType: 'application/json;character=utf-8',
                dataType: 'json',
                success: function (data) {
                    $("#DetailsProductModal").modal('show');
                    var obj = '';
                    obj += `<dt class = "col-sm-2">
                                Tên
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.name}
                            </dd>
                            <dt class = "col-sm-2">
                                Ảnh
                            </dt>
                            <dd class = "col-sm-10">
                                <img src="./images/${data.image}" alt="Product image" width="100" height="100">
                            </dd>
                            <dt class = "col-sm-2">
                                Khả dụng
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.availability}
                            </dd>
                            <dt class = "col-sm-2">
                                Giá
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.price}
                            </dd>
                            <dt>
                                Số lượng còn
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.stockQuantity}
                            </dd>
                            <dt class = "col-sm-2">
                                Danh mục
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.categoryName}
                            </dd>
                            <dt class = "col-sm-2">
                                Mô tả
                            </dt>
                            <dd class = "col-sm-10">
                                ${data.description}
                            </dd>
                        </dl>
                    `
                    $("#productDetail").html(obj);                
                },
                error: function () {
                    
                }
            })
        }
    </script>
}